.nav-button {
    border: 2px;
    border-color: black;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.50s ease;
}

.nav-button:hover {
    background-color: rgba(75, 154, 250, 0.782);
    border: 2px; /* Change the background color on hover */
}
.nav-wrapper {
    background-color: rgba(88, 177, 221, 0.1);
    height: 100vh;
    width: 200px; /* Set width for the navigation bar */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .notification-block {
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc;
    padding: 0px;
    margin-left: 8cm;
    margin-bottom: -50%;
    text-align: center;
  }
  
  .notification {
    margin-bottom: 10px;
  }
  